includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
        -
            identifier: trait.unused
            paths:
                - app/Concerns/CollectionValidationRules.php
                - app/Concerns/EndpointValidationRules.php
