{
    frankenphp
    admin off
    auto_https off
}

:80 {
    root * /app/public
    encode zstd br gzip

    # Proxy WebSocket connections to Reverb
    @reverb path /app/*
    reverse_proxy @reverb localhost:8080

    php_server {
        resolve_root_symlink
    }
}
